body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../src/img/plan.jpg);
  background-size: cover;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form{
  margin-top: 60px;
  padding: 20px;
}

form button,form h5{
  margin: 20px 0;
}

/* input[type=text]:not(.browser-default):focus:not([readonly])
input[type=email]:not(.browser-default):focus:not([readonly])
input[type=password]:not(.browser-default):focus:not([readonly])
textarea.materialize-textarea:focus:not([readonly]){
  border-color:red;
  box-shadow: none;
} */